:root {
  --bg-color: #222;
  --text-color: white;
  --light-text-color: #CCC;
  --input-height: 30px;
  --icon-color: #4dc6ff;

  --menu-bg-color: #009fe8;
  --menu-selected-bg-color: #0076ad;
  --menu-text-color: white;
  --menu-selected-text-color: white;
  --menu-border-color: #BBB;
  
  --footer-bg: #222;
  --footer-border: #009fe8;
  
  --table-heading-bg-color: #666;
  --table-heading-text-color: white; 
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
